<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Districts</title>
</head>

<body>


    <div class="container">
        <div style="text-align: right;"><button style="text-align: right!important;" class="btn btn-success" routerLink="/add-item">Add+</button>
        </div>

        <div *ngIf="!status">
            <h5>password</h5><input [(ngModel)]="tempPwd" type="password" name="" id="">
            <br>
            <button type="submit" class="btn btn-success" style="margin:10px" (click)="pwdChecker()">Submit</button>
        </div>
        <table>
            <div *ngIf="status">
                <thead>
                    <tr>
                        <th>ID:</th>
                        <th>Name:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let districtData of getData()">

                        <td>{{districtData.id}}</td>
                        <td>{{districtData.name}}</td>

                        <div *ngIf="editStatus">

                            <td><input type="number" [(ngModel)]=districtData.id></td>
                            <tr>
                                <td><input type="text" [(ngModel)]="districtData.name"></td>
                            </tr>

                        </div>
                        <!-- <td>
                            <div *ngIf="!editStatus">
                                <button #button style="margin:10px" class="btn btn-success" (click)="getIndex(districtData)">Edit</button>
                                <Button style="margin:10px 10px 10px 0px" class="btn btn-danger">Delete</Button>
                            </div>
                            <div *ngIf="editStatus">
                                <button #button style="margin:10px" type="submit" class="btn btn-warning" (click)="UpdateData(districtData.id,districtData.name)">Update</button>
                                <Button style="margin:10px 10px 10px 0px" class="btn btn-danger">Delete</Button>
                            </div>

                        </td> -->
                    </tr>
                </tbody>
            </div>
        </table>

    </div>



</body>

</html>