<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vehicle specification sheet maker</title>
</head>

<body>
    <div class="outer-container">
        <div class="container model">
            <ul>
                <li>
                    <h5>Make</h5>
                    &nbsp;<input [(ngModel)]="make" type="text" autocomplete="off" />
                </li>
                <li>
                    <h5>Model</h5>
                    &nbsp;<input [(ngModel)]="model" type=" text" />
                </li>
                <li>
                    <h5>Vehicle Grade</h5>
                    &nbsp;
                    <input [(ngModel)]="grade" type="text" />
                </li>
                <li>
                    <h5>Year of manufacture</h5>
                    &nbsp;<input [(ngModel)]="year" type="text" />
                </li>
                <li>
                    <h5>Vehicle Number</h5>
                    &nbsp;<input [(ngModel)]="vehiNumber" type="text " />
                </li>
                <li>
                    <h5>Engine No</h5>
                    &nbsp;<input [(ngModel)]="engNumber" type="text " />
                </li>
                <li>
                    <h5>Chassis No</h5>
                    &nbsp;<input [(ngModel)]='ChassisNo' />
                </li>
                <li>
                    <h5>Engine Capacity</h5>
                    &nbsp;<input [(ngModel)]='EngineCapacity' type="text " />
                </li>
                <li>
                    <h5>Transmission</h5>
                    &nbsp;<input [(ngModel)]='Transmission' type="text " />
                </li>
                <li>
                    <h5>Fuel Type</h5>
                    &nbsp;<input [(ngModel)]="FuelType" type="text " />
                </li>
                <li>
                    <h5>Color</h5>
                    &nbsp;<input [(ngModel)]="Color" type="text " />
                </li>
                <li>
                    <h5>Seating Capacity</h5>
                    &nbsp;<input [(ngModel)]="SeatingCap" type="text " />
                </li>
                <li>
                    <h5>Description</h5>
                    &nbsp;<textarea name=" " id=" " cols="46 " rows="10 "></textarea>
                </li>
            </ul>
        </div>
        <div style="width:10%" class="feature-container">
            <p><input [(ngModel)]="default" type="checkbox" name="" (change)="fontChecked('default')"> Default</p>
            <p><input [(ngModel)]="specialFont1" type="checkbox" name="" (change)="fontChecked('font01')"> Font_01</p>
            <p><input [(ngModel)]="specialFont2" type="checkbox" name="" (change)="fontChecked('font02')"> Font_02</p>
            <!-- <p><input [(ngModel)]="font01" type="checkbox" name=""> Font_03</p> -->
            <!-- <p><input [(ngModel)]="" type="checkbox" name=""> Font_04</p> -->

        </div>
        <div class="container printable">
            <h4>Preview</h4>
            <div class="container" [ngClass]="[checkedFont]" id='toPrint'>
                <h3>{{dataCap(make)}} {{dataCap(model)}} - {{dataCap(year)}}</h3>
                <br>
                <p>Model - {{dataCap(make)}}</p>
                <p>Grade - {{dataCap(grade)}}</p>
                <p>Year of manufacture - {{year}}</p>
                <p>Vehicle Number - {{vehiNumber}}</p>
                <p>Engine Number - {{engNumber}}</p>
                <p>Chassis No - {{ChassisNo}}</p>
                <p>Engine Capacity - {{EngineCapacity}}cc</p>
                <p>Transmission - {{dataCap(Transmission)}}</p>
                <p>Fuel Type - {{dataCap(FuelType)}}</p>
                <p>Color - {{dataCap(Color)}}</p>
                <p>Seating Capacity - {{SeatingCap}}</p>
            </div>
            <br>
            <button class="btn btn-success" (click)="openPDF()"> Generate PDF</button>
        </div>
    </div>
</body>

</html>