<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vehicle specification sheet maker</title>
</head>

<body>
    <div class="outer-container">
        <div class="container model">
            <ul>
                <li>

                    <h5>Make</h5>
                    &nbsp;<input [(ngModel)]='make' type="text" (ngModelChange)="capitalize($event,'make')" />
                </li>
                <li>
                    <h5>Model</h5>
                    &nbsp;<input [(ngModel)]='model' type="text" (ngModelChange)="capitalize($event,'model')" />
                </li>
                <li>
                    <h5>Vehicle Grade</h5>
                    &nbsp;
                    <input [(ngModel)]='grade' type="text" (ngModelChange)="capitalize($event,'grade')" />
                </li>
                <li>
                    <h5>Year of manufacture</h5>
                    &nbsp;<input [(ngModel)]='year' type="text" (ngModelChange)="capitalize($event,'year')" />
                </li>
                <li>
                    <h5>Vehicle Number</h5>
                    &nbsp;<input [(ngModel)]='capitalizedWord' type="text" />
                </li>
                <li>
                    <h5>Engine No</h5>
                    &nbsp;<input [(ngModel)]='capitalizedWord' type="text" />
                </li>
                <li>
                    <h5>Chassis No</h5>
                    &nbsp;<input [(ngModel)]='capitalizedWord' type="text" />
                </li>
                <li>
                    <h5>Engine Capacity</h5>
                    &nbsp;<input [(ngModel)]='capitalizedWord' type="text" />
                </li>
                <li>
                    <h5>Transmission</h5>
                    &nbsp;<input [(ngModel)]='capitalizedWord' type="text" />
                </li>
                <li>
                    <h5>Fuel Type</h5>
                    &nbsp;<input [(ngModel)]='capitalizedWord' type="text" />
                </li>
                <li>
                    <h5>Color</h5>
                    &nbsp;<input [(ngModel)]='capitalizedWord' type="text" />
                </li>
                <li>
                    <h5>Seating Capacity</h5>
                    &nbsp;<input [(ngModel)]='capitalizedWord' type="text" />
                </li>
                <li>
                    <h5>Description</h5>
                    &nbsp;<textarea name="" id="" cols="46" rows="10"></textarea>
                </li>

            </ul>
        </div>

        <div class="container printable">
            <h3 style="display: block;">Preview</h3>
            <h3>{{make}} {{model}} - {{year}}</h3>
            <p>Model - {{model}}</p>
            <p>Grade - {{grade}}</p>
            <p>Year of manufacture - {{year}}</p>
        </div>
    </div>
</body>

</html>