<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="display">
            <!-- <h1></h1> -->
            <form action="" [formGroup]="InputString">
                <input formControlName="text" class="input-field" />
            </form>

            <div class="operators">
                <div class="col-auto ">
                    <button (click)="btnClick($event.target)" class="btn btn-success">+</button>
                    <button (click)="btnClick($event.target)" class="btn btn-success">-</button>
                    <button (click)="btnClick($event.target)" class="btn btn-success">*</button>
                    <button (click)="btnClick($event.target)" class="btn btn-success">/</button>
                </div>

            </div>
            <div class="operands col-auto">
                <button (click)="btnClick($event.target)" class=" btn btn-success ">.</button>
                <button (click)="btnClick($event.target)" class="btn btn-primary ">1</button>
                <button (click)="btnClick($event.target)" class="btn btn-primary ">2</button>
                <button (click)="btnClick($event.target)" class="btn btn-primary ">3</button>
            </div>
            <div class="operands col-auto ">
                <button (click)="btnClick($event.target)" class="btn btn-primary ">4</button>
                <button (click)="btnClick($event.target)" class="btn btn-primary ">5</button>
                <button (click)="btnClick($event.target)" class="btn btn-primary ">6</button>
                <button (click)="btnClick($event.target)" class="btn btn-primary ">7</button>
            </div>
            <div class="operands col-auto ">
                <button class="btn btn-primary"></button>
                <button (click)="btnClick($event.target)" class="btn btn-primary ">8</button>
                <button (click)="btnClick($event.target)" class="btn btn-primary ">9</button>
                <button (click)="btnClick($event.target)" class="btn btn-primary ">0</button>
                <!-- <button class="btn hidden-button ">0</button> -->
                <!-- <button class="btn hidden-button ">0</button> -->

            </div>
            <div class="operands col-auto ">
                <button (click)="clearInput()" class="btn btn-danger " style="width:20% ">Clear</button>
                <button (click)="calculate() " class="btn btn-warning " style="width:36% ">=</button>
            </div>
        </div>
    </div>
</body>

</html>