<div class="container">
    <h2>{{title}}</h2>
    <div class="nav">
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/calculator">Calculator</a>
            </li>
            <li>
                <a routerLink="/districts">Districts</a>
            </li>
            <li>
                <a routerLink="/vehicle specification PDF maker">vehicle specification PDF maker</a>
            </li>
        </ul>
    </div>
</div>