<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Districts</title>
</head>

<body>

    <div class="container">
        <div style = "text-align: right;"><button style = "text-align: right!important;"class="btn btn-success">Add+</button>
        </div>
        
        <table>

            <thead>
                <tr>
                    <th>ID:</th>
                    <th>Name:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let districtData of data">
                    <td>{{districtData.id}}</td>
                    <td>{{districtData.name}}</td>
                    <td> <button style = "margin:10px" class = "btn btn-success">Edit</button>
                        <Button style = "margin:10px 10px 10px 0px" class = "btn btn-danger">Delete</Button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>