/* You can add global styles to this file, and also import other style files */

* {
    border-radius: 10px !important;
}

h2 {
    color: rgb(148, 148, 148);
}

.outer-container {
    display: flex;
    justify-content: space-between;
    /* Align containers to the left and right */
    align-items: flex-start;
    /* Align items to the top */
    max-width: 1600px;
    margin: 10px 0;
}